/* universal css */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.header{
    background-color: brown;
    padding: 15px;
    text-align: center;
}
.topnav{
    overflow: hidden;
    background-color: chartreuse;
    text-align: center;

}
.topnav a{
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.topnav :hover{
    background-color: rgb(41, 30, 199);
    color: rgb(245, 115, 9);
}
.kolom1{
    width: 30%;
    float: left;
    padding: 10px;
}
.kolom1.side{
    width: 60%;
    float: right;
    padding: 30px;
}
.kolom1.middle{
    width: 40%;
}
.row::after{
    content: "";
    display: table;
    clear: both;/* membersihkan float left sebelumnya*/
}
.footer{
    background-color: yellow;
    padding: 5px;
    text-align: center;
    bottom: 0px;
    position: absolute;
    width: 100%;
  
}