table{
    background: #9b1919;
    margin: auto;
    border-radius: 50pt;
    width: 90%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
   
}
